* {
  font-family: "Cormorant Garamond", serif;
  color: white;
}

html {
  background-image: url('./assets/images/black-sand.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header {
  display: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-direction: row;
}

.nav-link
{
  display: flex;
  position: relative;
  flex-basis: 200px;
  font-size: 40px
}

.nav-link-list {
  list-style: none;
}

h1 {
  color: white;
  justify-content: space-evenly;
  text-align: center;
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

.footer {
  text-align: center;
}

.links {
  padding-bottom: 50px;
}

.social-icon > img {
  height: 35px;
  width: 35px;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
  }

  